[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/tlib_vim"]
	path = vim/bundle/tlib_vim
	url = git://github.com/tomtom/tlib_vim.git
[submodule "vim/bundle/vim-addon-mw-utils"]
	path = vim/bundle/vim-addon-mw-utils
	url = git://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/bundle/vim-asciidoc"]
	path = vim/bundle/vim-asciidoc
	url = git://github.com/gnperdue/vim-asciidoc.git
[submodule "vim/bundle/vim-commentary"]
	path = vim/bundle/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "vim/bundle/vim-snipmate"]
	path = vim/bundle/vim-snipmate
	url = git://github.com/garbas/vim-snipmate.git
[submodule "vim/bundle/vim-snippets"]
	path = vim/bundle/vim-snippets
	url = git://github.com/gnperdue/vim-snippets.git
[submodule "vim/bundle/jshint.vim"]
	path = vim/bundle/jshint.vim
	url = git://github.com/wookiehangover/jshint.vim.git
[submodule "vim/bundle/vim-javascript-syntax"]
	path = vim/bundle/vim-javascript-syntax
	url = git://github.com/jelera/vim-javascript-syntax
[submodule "vim/bundle/vim-jsbeautify"]
	path = vim/bundle/vim-jsbeautify
	url = git://github.com/maksimr/vim-jsbeautify
